*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root{
    --color1: rgb(206, 229, 255);
    --color2: rgb(49, 178, 243);
    --color3: rgb(100, 100, 100);
    --italic: "Lato", sans-serif;
    --italic-weight: 700;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff;
    color: var(--color2);
    text-align: center;
}
/* mobile **************************/
header,footer{
    background-color: var(--color);
    padding: 1rem;
    margin: 1rem;
    color: var(--color3);
}

nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    
    
}
nav li {
    display: block;
    
}
nav a{
    text-decoration: none;
    color: var(--color3);
    font-size: larger;
    font-weight: bolder;
}
nav a:hover{
    color: var(--color2);
}

main{
    margin: 0 auto;
    max-width: 900px;
    
}

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 25px;
	place-items: center;
}

img {
	width: 100%;
	height: auto;
    border-radius: 15px 150px;
}
p {
	font-size: 2.5rem;
    font-weight: bolder;
}
h1{
    padding: 1rem;
}
figcaption {
	font-size: smaller;
    color: var(--color3);
    font-family: var(--italic);
    font-weight: var(--italic-weight);
    font-style: italic;
}
.hover:hover {
	box-shadow: 0 0 50px var(--color2);
}


