*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root{
    --color1: rgb(206, 229, 255);
    --color2: rgb(0, 71, 107);
    --color3: rgb(100, 100, 100);

}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff;
    color: var(--color2);
    text-align: center;
}
/* mobile **************************/
header,footer{
    background-color: var(--color1);
    padding: 1rem;
    margin: 1rem;
    color: var(--color3);
}

/* ham menu */

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
    /* THIS DETERMINES WHERE THE HAM MENU IS POSITIONED */
 	position: absolute;
	top: 1rem;
	right: 1rem;
}
#menu::before {
	content: "☰";
}
#menu.open::before {
	content: "❎";
}

nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
}

nav a{
    display: none;
    text-decoration: none;
    color: var(--color3);
    font-size: larger;
    font-weight: bolder;
}
nav a:hover{
    background-color: #fff;
    color: var(--color2);
}

.open a {
	display: block;
}


main{
    margin: 0 auto;
    max-width: 900px;
    
}

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 25px;
	place-items: center;
}

img {
	width: 100%;
	height: auto;
    border-radius: 15px 150px;
}
header p {
	font-size: 2.5rem;
    font-weight: bolder;
}
h1{
    padding: 1rem;
}

figcaption {
	font-size: smaller;
    color: var(--color3);
    
}
.hover:hover {
	box-shadow: 0 0 50px var(--color2);
}



