:root{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: "Asap Sharp", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
}

main,
header,
footer{
    max-width: 640px;
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: rgb(124, 158, 250);
    border: 1px solid #bbb;
}
header, footer{
    text-align: start;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
section{
    background-color: #fff;
    padding: 0.5rem;
}



    
